@model IEnumerable<AppointmentVM>
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="remove-scrollbar mx-auto max-w-7xl overflow-scroll rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-6 text-2xl font-semibold text-gray-800">Appointments List</h2>
    <table class="min-w-full border border-gray-300 bg-white">
        <thead>
            <tr class="bg-gray-200 text-sm uppercase leading-normal text-gray-600">
                <th class="table-th">ID</th>
                <th class="table-th">Patient Name</th>
                <th class="table-th">Doctor Name</th>
                <th class="table-th">Clinic</th>
                <th class="table-th">Schedule</th>
                <th class="table-th">Status</th>
                <th class="table-th">Reason</th>
                <th class="table-th">Note</th>
                <th class="table-th">Cancellation Reason</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr class="border-b">
                    <td class="table-td">@appointment.ID</td>
                    <td class="table-td">@appointment.PatientName</td>
                    <td class="table-td">@appointment.DoctorName</td>
                    <td class="table-td">@appointment.ClinicName</td>
                    <td class="table-td">@appointment.Schedule.ToString("g")</td>
                    <td class="table-td">@appointment.Status</td>
                    <td class="table-td">@appointment.Reason</td>
                    <td class="table-td">@appointment.Note</td>
                    <td class="table-td">@appointment.CancellationReason</td>

                </tr>
            }
        </tbody>
    </table>
</div>
